$TTL 604800
@       IN      SOA     {{ domain }}. admin.{{ domain }}. (
        9               ; Serial
        604800          ; Refresh
        86400           ; Retry
        2419200         ; Expire
        604800 )        ; Negative Cache TTL
; name servers
@       IN      NS      ns.{{ domain }}.

; PTR Records
70    IN      PTR     ns.{{ domain }}.   ; 10.95.72.70
70    IN      PTR     ocp-bastion.{{ domain }}.   ; 10.95.72.70
71    IN      PTR     bootstrap-0.{{ domain }}.   ; 10.95.72.71
72    IN      PTR     control-plane-0.{{ domain }}.   ; 10.95.72.72
73    IN      PTR     control-plane-1.{{ domain }}.   ; 10.95.72.73
74    IN      PTR     control-plane-2.{{ domain }}.   ; 10.95.72.74
72    IN      PTR     etcd-0.{{ domain }}.   ; 10.95.72.72
73    IN      PTR     etcd-1.{{ domain }}.   ; 10.95.72.73
74    IN      PTR     etcd-2.{{ domain }}.   ; 10.95.72.74
75    IN      PTR     compute-0.{{ domain }}.   ; 10.95.72.75
76    IN      PTR     compute-1.{{ domain }}.   ; 10.95.72.76